<div class="row"> <!--row1 start-->
  <div class="pad-1 col-sm-12 col-lg-5"> <!--carousel begin-->
      <div id="carousel-me" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner d-flex justify-content-center">
          <div class="carousel-item active">
          <%= image_tag("IMG_9348.jpg", :alt => "slide-1", :class =>"d-block w-100 img-fluid" ) %>
          </div>
          <div class="carousel-item">
         <%= image_tag("IMG_9349.jpg", :alt => "slide-2", :class =>"d-block w-100 img-fluid" ) %>
          </div>
          <div class="carousel-item">
         <%= image_tag("IMG_9350.jpg", :alt => "slide-3", :class =>"d-block w-100 img-fluid" ) %>
        </div>
    </div>
  </div>
</div> <!--carousel end -->
