<!-- <nav id="navbar-example2" class="sticky-top navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#fat">@fat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo">@mdo</a>
    </li>
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="fat">projects</h4>
  <div class="row">
    <div class="col-3">
      <img src="..." alt="..." class="img-thumbnail">
    </div>
    <div class="col-3">
      <img src="..." alt="..." class="img-thumbnail">
    </div>
    <div class="col-3">
      <img src="..." alt="..." class="img-thumbnail">
    </div>
    <div class="col-3">
      <img src="..." alt="..." class="img-thumbnail">
    </div>
  </div>


  <h4 id="mdo">@mdo</h4>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <h4 id="one">one</h4>
  <p>...</p>
  <h4 id="two">two</h4>
  <p>...</p>
  <h4 id="three">three</h4>
  <p>...</p>
</div> -->
