<%= render 'layouts/nav' %>

<div class="projects-container">
    <p class="neon"><a class="neon-head">PROJECTS</a></p>

    <div class="row">
      <div class="card bg-black d-flex justify-content-around col-sm-12 col-md-4">
        <div class="card-img-top img-fluid font-mfizz"><!--ruby logo-->
          <div class="icon-html5-alt"></div>
        </div>

        <div class="card-body">
          <h5 class="card-title">HTML</h5>
          <p class="card-text font">I built a html and css wireframe based on the asos website.</p>
          <a href="https://github.com/sophiechhoeu/wireframe" class="btn" target="_blank">Check it out</a>
        </div>
      </div><!--end of html card-->


        <!--ruby card-->
    <div class="card bg-black d-flex justify-content-around col-sm-12 col-md-4">
      <div class="card-img-top img-fluid font-mfizz"><!--ruby logo-->
        <div class="icon-ruby"></div>
      </div>

      <div class="card-body">
          <h5 class="card-title">Ruby</h5>
          <p class="card-text font">Ruby examples including a holiday package generator.</p>
          <a href="https://github.com/sophiechhoeu/rubyexamples" class="btn" target="_blank">Find it here</a>
      </div>
    </div><!--end of ruby card -->


        <!--rails card-->
    <div class="card bg-black d-flex justify-content-around col-12 col-md-4">
      <div class="card-img-top img-fluid font-mfizz">
        <div class="icon-ruby-on-rails-alt"> <!--rails logo-->
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title">Ruby on Rails</h5>
        <p class="card-text font">I created a ruby on rails project for the amaysim website.</p>
        <a href="https://github.com/sophiechhoeu/amaysim" class="btn" target="_blank">Take a peek</a>
      </div>
    </div>

    </div> <!--end of projects row-->
  <a href="/pages/sitemap" ><p class="sitemap font">sitemap</p></a>
</div><!--end of projects container-->
