<div class="site-map font">
  <a href="/" class="sitemap">homepage</a><br>
  <a href="/pages/projects" class="sitemap">projects</a><br>
  <a href="/pages/work" class="sitemap">work</a><br>
  <a href="/pages/contact" class="sitemap">contact</a><br>
</div><!--end of site map-->
