body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:102px;
  width:118px;
  height:25px;
  font-size:20px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:126px;
  width:310px;
  height:1px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:117px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:186px;
  width:119px;
  height:117px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:117px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:186px;
  width:119px;
  height:117px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:117px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:186px;
  width:119px;
  height:117px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:117px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:186px;
  width:119px;
  height:117px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:336px;
  width:119px;
  height:170px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:115px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:336px;
  width:119px;
  height:170px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:115px;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:336px;
  width:119px;
  height:170px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:115px;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:336px;
  width:119px;
  height:170px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:115px;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:102px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:9px;
  height:8px;
}
#u53_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-6px;
  width:8px;
  height:17px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
