/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap";

nav ul li a:hover {
  color: black;
  background: #FFB6DA;
}

.sitemap{
  color:white;
  text-align: center;
  font-size: 10px;
  margin-top: 50px;
  text-decoration: none;
}

.sitemap:hover{
  color: #FFB6DA;
  text-decoration: none;
}

.site-map{
  text-align: center;
}

@media (max-width: 575px) {
  .welcome {
    display:none;
  }

  .nav{
    display: none;
  }

  .logo{
    max-width: 60%;
    align-self: center;
    margin-top: 50px;
  }

  .info {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    margin-bottom: 20px;
  }

  .projects-header{
    margin-top: 20px;
  }

  .work-header{
    margin-top: 20px;
  }

  .contact-header{
    margin-top: 20px;
  }

  #accordion{
    text-align: center;
  }

  .carousel-item{
    max-width: 30%;
  }

  .btn{
    margin-top: 4px;
  }
}

@media (max-width: 767px) {

 .welcome{
   display: none;
 }

 .carousel-item{
   max-width: 40%;
 }

 .nav-link{
   font-size: 80px;
   color: #FFB6DA;
   margin-right:10px;
   margin-left: 1px;
 }

 .logo{
   max-width: 60%;
   margin-top: 50px;
   align-self: center;
 }

 .info {
   margin-left: 15px;
   margin-right: 15px;
   font-size: 15px;
   margin-bottom: 80px;
   margin-top: 20px;
 }

  .work-header{
    margin-top: 80px;
  }

  .work-info{
    margin-bottom:50px;
  }

  #accordion{
    margin-bottom: 80px;
  }

  .card-header{
    text-align: center;
  }

  .btn{
    margin-top: 4px;
  }

}

@media (max-width: 991px) {

 .welcome{
   display:none;
 }

 .logo{
   max-width: 50%;
   margin-top: 50px;
   align-self: center;
 }

 .nav-link{
   font-size: 40px;
   color: #FFB6DA;
   margin-right:20px;
   margin-left: 1px;
 }

 .info {
   margin-right: 20px;
   margin-left: 10px;
 }

 .projects-header{
   margin-top: 80px;
 }

 .work-header{
   margin-top: 80px;
 }

 .contact-header{
   margin-top: 80px;
 }

 .carousel-item{
   max-width: 80%;
 }

}

@media (max-width: 1199px) {

  .logo{
    max-width: 30%;
    margin-top: 50px;
    align-self: center;
  }

  .nav-link{
    font-size: 80px;
    color: #FFB6DA;
    margin-right:20px;
    margin-left: 1px;
  }

  .projects-header{
    margin-top: 80px;
  }

  .work-header{
    margin-top: 80px;
  }

  .contact-header{
    margin-top: 80px;
  }

  .info {
    margin-right: 20px;
    margin-left: 10px;
  }

}

html, body {
  max-width: 100%;
  overflow-x: hidden;

}

body {
margin-top: 50px;
padding-bottom: 50px;
background-color: black;
color:#FFF0F7;
}

.navbar{
  position:fixed;
  width:100%;
}

.welcome{
position: relative;
top: 23%;
font-family: 'Montserrat', sans-serif;
font-size: 30px;
font-style: thin;
font-weight: lighter;
color:#FFB6DA;

}

#projects{

  margin-top: 40%;
  font-family: 'Montserrat', sans-serif;
  font-size: lighter;
  font-size: 30px;
}

#work{
  margin-top: 40%;
  font-family: 'Montserrat', sans-serif;
  font-size: lighter;
  font-size: 30px;
}

#contact{
  margin-top: 40%;
  font-family: 'Montserrat', sans-serif;
  font-size: lighter;
  font-size: 30px;
}


#projects:hover, #contact:hover, #work:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.font-mfizz {
  font-size: 3em;
}

.icon-html5-alt{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-top: 20px;
}

.icon-ruby{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 20px;
   padding-top: 20px;
}

.icon-ruby-on-rails-alt{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-top: 20px;
}

.card-body{
  font-family: 'Montserrat', sans-serif;
  font-style: thin;
  font-weight: lighter;
}

.col-1{
  background-color: black;
}

.rotate {

/* Safari */
-webkit-transform: rotate(90deg);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.logo{
  width: 100%;
  padding-top: 0px;
  margin-top: 0;
}

.info{
  margin-top: 50px;
  padding-left:4px;
  background-color: black;
  color: white;
  font-family:'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: lighter;

}

.nav-link{
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: lighter;
  color:#FFB6DA;
}

.scroll-adjust{
  padding-top: 52px;
  margin-top: -52px;
}

.work-info{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.card{
  border-style: none;
  display: inline-block;
}

.bg-black{
  background-color: black;
}

.btn{
  background-color: #7F787B;
  border: none;
  color:white;
  width: 150px;
}

.btn:hover{
  color:#FFB6DA;
}

.btn:after,
.btn:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn:hover:after,
.btn:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.bg-grey{
  background-color: #7F787B
}

.fa-reply-all{
  padding-right: 15px;
}

.bg-grey-2{
  background-color: #7E7E7E;
}

.card-block{
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.work-about{
  padding-top:2px;
  padding-left:2px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.card-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.tab-head{
  color: #FFB6DA;
}


.tab-head:hover{
  text-decoration: none;
  color: white;
}
