<nav id="home-navbar" class="d-flex justify-content-center sticky-top navbar nav bg-black">
  <ul class="nav font">
    <li class="nav-item">
      <a class="nav-link" href="/">HOME</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/pages/projects">PROJECTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/work">WORK HISTORY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/contact">CONTACT</a>
    </li>
  </ul>
</nav><!--end of nav-->
